* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: auto;
    width: 50%;
}

.e-header {
    margin: 2rem;
}

section {
    padding: 5px;
    margin: 5px;
}

.uForm {
    background-color: #eee;
    margin: 2rem;
    padding: 2rem;
}

.update-btn {
}