* {
    margin:0;
    padding:0;
    font-family: Ubuntu, sans-serif;
}

.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    color: white;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 5px 10px 18px #888888;
    min-width: 1100px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-link {
    margin: 10px;
    cursor: pointer;
    color: white;
}

.nav-link:hover {
    font-weight: bold;
    color: rgb(178, 172, 172);
    transform: scale(1.2);
    text-decoration: underline;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

#page-title {
    cursor: pointer;
    color: white;
}

#home {
    text-decoration: none;
}


@media only screen and (min-width: 1200px){
    .navbar-toggler {
        display: none;
    }

}

@media only screen and (max-width: 1200px){
    .nav-links {
        /* display: none; */
        transform: scale(.6);
    }

    /* .navbar-toggler {
        display: inline-flex;
    } */

}