<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Profile</title>
        <meta name="description" content="Local skatespots and skateparks at your fingertips.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    </head>
    <body>
        <div class="wrapper">
            {% block nav %}{% include 'nav.html' %}{% endblock nav %}
            <!-- <div class="container">
                <div class="row">
                    <div class="col">col1</div>
                    <div class="col">col2</div>
                </div>
            </div> -->
            <div class="main-content">
                <h1>Profile Dashboard</h1>
                <h4>Welcome {{skater.first_name}}</h4>
                <div class="messages">
                    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                        {% if messages %}                            <!-- check if there are any messages -->
                            {% for message in messages %}            <!-- loop through the messages -->
                                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="profile-details d-flex">
                    <div class="card col-6">
                        <div class="row col-6">
                            <div class="col">
                                <img src="{{skater.avatar}}" alt="avatar-img">
                                <h5>{{skater.stance}}</h5>
                            </div>
                            <div class="col">
                                <p>{{skater.first_name}} {{skater.last_name}}</p>
                                <p>{{skater.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Bio: {{skater.bio}}</div>
                            <a href="/profile/{{skater.id}}/edit">Edit Profile</a>
                        </div>
                    </div>
                    <div class="card ms-1 col-6">messages</div>
                </div>
                <div class="row">
                    <div class="left-main">
                        <ul>
                            <li></li>
                            <li><a href="#">Your favorites</a></li>
                            {% if session['skater_id'] %}
                            <li><a href="/addspot">Add a spot</a></li>
                            {% endif %}
                        </ul>

                    </div>
                    <div class="right-main">
                        <h4>Skaters List</h4>
                        {% for skater in skaterList %}
                        <div>
                            <p>{{skater.first_name}}</p>
                        </div>
                        {% endfor %}
                        <div></div>
                    </div>
                </div>
                <div>
                    <div>spot you've added</div>
                    <div>friends</div>
                </div>
            </div>
            {% block foot %}{% include 'foot.html' %}{% endblock foot %}
        </div>
    
    </body>
</html>