<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foot.css') }}">
    </head>
    <body>
        <div class="foot">
            <ul class="foot-links">
                <a href="#"><li class="foot-link">Social1</li></a>
                <a href="#"><li class="foot-link">Social2</li></a>
                <a href="#"><li class="foot-link">Social3</li></a>
            </ul>
            <!-- <div class="session">
                <a href="">Login/Register</a>
            </div> -->
        </div>
    </body>
</html>