<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sk8rMAP</title>
        <meta name="description" content="Local skatespots and skateparks at your fingertips.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div class="wrapper">
            {% block nav %}{% include 'nav.html' %}{% endblock nav %}
            <div class="main-content">
                <div class="messages">
                    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                        {% if messages %}                            <!-- check if there are any messages -->
                            {% for message in messages %}            <!-- loop through the messages -->
                                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div>
                    <div class="header-area">
                        <h1>Welcome Home</h1>
                        <div>
                            <input type="text" value="Search Spot">
                        </div>
                    </div>
                    <div>
                        New Spots
                    </div>
                    <div>
                        Categories
                    </div>
                    <div class="donut">
                        <h4 class="text-curve">test donut</h4>

                    </div>
                </div>
            </div>
            {% block foot %}{% include 'foot.html' %}{% endblock foot %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/rating.js') }}"></script>
    </body>
</html>