<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    </head>
    <body>
        <div class="nav">
            <a id="home" href="/"><h1 id="page-title">Sk8rMAP</h1></a>
            <!-- <img src="" alt="nav-img" class="nav-img"> -->
            <ul class="nav-links">
                <a href="/street"><li class="nav-link">Street</li></a>
                <a href="/parks"><li class="nav-link">Parks</li></a>
                <a href="/community"><li class="nav-link">Community</li></a>
                <a href="/map"><li class="nav-link">Map</li></a>
                <a href="/loginpg"><li class="nav-link">Profile</li></a>
            </ul>
            <!-- <div class="session">
                <a href="">Login/Register</a>
            </div> -->
        </div>
    </body>
</html>